<h1>Roberto Baldizon's Bucketlist!</h1>

<h2>Things to do:</h2>

<ul>
  {{#each buckets}}
    {{#unless done}}
      {{!-- <img src="../img/bucket.png" width="100px"> --}}
      {{> buckets/bucket-block done=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Things that I've done:</h2>

<ul>
  {{#each buckets}}
    {{#if done}}
      {{!-- <img src="../img/bucket.png" width="100px"> --}}
      {{> buckets/bucket-block done=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a thing to do:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bucket">Thing to do:</label>
    <input type="text" id="bucket" name="name">
  </div>

  <div class="form-group">
    <label for="done">Completed?</label><br>
    <input type="radio" name="done" value="1" checked> Done!<br>
    <input type="radio" name="done" value="0"> To do
  </div>

  <button type="submit">Add thing</button>
</form>
