body {
	background-image: "src=../img/background.jpg";
}

li {
 /* padding: 5px;
  margin: 5px;
  background: black;*/
/*  opacity: 0.6;*/
  color: gray;
  font-weight: bold;
  background-image: url("../img/bucket.png");
  width: 75px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: gray;
  color:white;
  font-weight: bold;
  background-image: url("../img/bucket.png");
}

.form-group {
  margin-bottom: 5px;
}
