body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 900px;
}

.buckets {
  padding: 5px;
  margin: 5px;
  background: black;
  opacity: 0.6;
  color: lightgray;
  font-weight: bold;
  width: 400px;
  font-size: 20px;
}


.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: gray;
  color:white;
  font-weight: bold;
  background-image: url("../img/bucket.png");
}

.form-group {
  margin-bottom: 5px;
}

#bucketImg{
	height: 50px;
}

.insideBtn{
	font-size: 30px;
}
